.liveSnippetModal {
  width: 30rem;
  top: 100%;
}

:root {
  --snippet-active-fg-color: #fdca40;
  --snippet-active-bg-color: #6638b8;
}

@keyframes animateLiveSnippetIconActive {
  0% {
    transform: scale(1);
    color: inherit;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    color: var(--snippet-active-fg-color);
    background-color: var(--snippet-active-bg-color);
  }
}

@keyframes animateLiveSnippetIconInactive {
  0% {
    transform: scale(1) rotate(-20deg);
    color: var(--snippet-active-fg-color);
    background-color: var(--snippet-active-bg-color);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: scale(1);
    color: inherit;
  }
}

.liveSnippetIconActive {
  animation: animateLiveSnippetIconActive 0.5s ease-in-out forwards;
}

.liveSnippetIconInactive {
  animation: animateLiveSnippetIconInactive 0.5s ease-in-out forwards;
}

.snippetButton:active {
  transform: scale(0.95);
}

/* The background colour of the button when the modal is open */
[data-theme='dark'] .snippetButtonModalOpen {
  background: #9368dd;
}

[data-theme='light'] .snippetButtonModalOpen {
  background: #e4dcef;
}

.successAlert {
  position: fixed;
  z-index: 999;
  width: 70%;
  left: 15%;
  bottom: 2rem;
  background-color: var(--ifm-color-primary-light) !important;
}

.successAlertCollectorUrl {
  color: #d2bff0;
}
